openapi: 3.1.0
info:
  title: Moment One API
  version: 0.1.0
  description: Personal memory APIs for YiKe · Moment One.
servers:
  - url: https://api.moment.one
paths:
  /v1/moments:
    post:
      operationId: createMoment
      summary: Create and understand a Moment
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMomentRequest'
      responses:
        '201':
          description: Moment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MomentResponse'
    get:
      operationId: listMoments
      summary: List the user's Moment timeline
      parameters:
        - in: query
          name: cursor
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
        - in: query
          name: category
          schema: { $ref: '#/components/schemas/MomentCategory' }
        - in: query
          name: from
          schema: { type: string, format: date-time }
        - in: query
          name: to
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Timeline page
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Moment' }
                  nextCursor: { type: [string, 'null'] }
  /v1/moments/{momentId}:
    parameters:
      - in: path
        name: momentId
        required: true
        schema: { type: string, format: uuid }
    get:
      operationId: getMoment
      responses:
        '200':
          description: Moment detail
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MomentResponse' }
    patch:
      operationId: updateMoment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string, maxLength: 120 }
                category: { $ref: '#/components/schemas/MomentCategory' }
                tags:
                  type: array
                  items: { type: string }
                  maxItems: 10
                description: { type: string }
      responses:
        '200':
          description: Corrected Moment
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MomentResponse' }
    delete:
      operationId: deleteMoment
      responses:
        '204': { description: Moment soft deleted }
  /v1/memory/search:
    post:
      operationId: searchMemory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query: { type: string, minLength: 1, maxLength: 500 }
                limit: { type: integer, minimum: 1, maximum: 20, default: 8 }
                filters:
                  type: object
                  properties:
                    category: { $ref: '#/components/schemas/MomentCategory' }
                    from: { type: string, format: date-time }
                    to: { type: string, format: date-time }
      responses:
        '200':
          description: Evidence-bound answer
          content:
            application/json:
              schema:
                type: object
                required: [answer, evidenceMomentIds, requestId]
                properties:
                  answer: { type: string }
                  evidenceMomentIds:
                    type: array
                    items: { type: string, format: uuid }
                  requestId: { type: string }
                  confidence: { type: number, minimum: 0, maximum: 1 }
  /v1/reviews/daily:
    post:
      operationId: generateDailyReview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [date]
              properties:
                date: { type: string, format: date }
                timezone: { type: string }
      responses:
        '200':
          description: Daily memory review
components:
  schemas:
    MomentCategory:
      type: string
      enum: [experience, habit, travel, food, growth, emotion]
    CreateMomentRequest:
      type: object
      required: [occurredAt, timezone]
      properties:
        occurredAt: { type: string, format: date-time }
        timezone: { type: string }
        voiceInput: { type: string }
        location:
          type: object
          properties:
            name: { type: string }
            latitude: { type: number }
            longitude: { type: number }
            source: { type: string, enum: [device, user, ai, unknown] }
        media:
          type: array
          items:
            type: object
            required: [type, mimeType, objectKey]
            properties:
              type: { type: string, enum: [image, video, audio] }
              mimeType: { type: string }
              objectKey: { type: string }
    Moment:
      type: object
      required: [id, title, occurredAt, category, tags, aiSummary]
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        occurredAt: { type: string, format: date-time }
        timezone: { type: string }
        location: { type: object }
        voiceInput: { type: string }
        description: { type: string }
        category: { $ref: '#/components/schemas/MomentCategory' }
        tags:
          type: array
          items: { type: string }
        emotion: { type: object }
        aiSummary: { type: string }
        confidence: { type: number }
        media:
          type: array
          items: { type: object }
    MomentResponse:
      type: object
      required: [data, requestId]
      properties:
        data: { $ref: '#/components/schemas/Moment' }
        requestId: { type: string }
        modelVersion: { type: [string, 'null'] }
        promptVersion: { type: string }
